@inject JobDetailsClient client
@inject NavigationManager NavigationManager

<div class="modal fade" id="@GetModalId(jobDetails)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-danger fs-5" id="exampleModalLabel">Do you want to delete @jobDetails.Name?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@DeleteAsync">Delete</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public JobDetails? jobDetails { get; set; }

    public static string GetModalId(JobDetails? jobDetails)
    {
        ArgumentNullException.ThrowIfNull(jobDetails);
        return $"deleteModal-{jobDetails.Id}";
    }

    private async Task DeleteAsync()
    {
        await client.DeleteJobDetailsAsync(jobDetails!.Id);
        NavigationManager.Refresh();
    }
}
