@page "/deletejobdetails/{id:int}"
@inject JobDetailsClient client
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>DeleteJobDetails</h3>
@if (jobDetails is null)
{
    <p>JobDetails is not existing</p>
}
else
{
    <p>Do you want to delete @jobDetails.Name ?</p>

    <button type="button" @onclick="@DeleteAsync">Yes</button>
    <a role="button" href="/jobsdetails">No</a>
}

@code {
    [Parameter]
    public int Id { get; set; }
    JobDetails? jobDetails;

    protected override async Task OnInitializedAsync()
    {
        jobDetails = await client.GetJobDetailsAsync(Id);
    }

    private async Task DeleteAsync()
    {
        await client.DeleteJobDetailsAsync(jobDetails.Id);
        NavigationManager.NavigateTo("/jobsdetails");
    }
}
