@page "/deletejoborder/{id:int}"
@inject JobOrderClient JobOrderClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>DeleteJobOrder</h3>
@if (jobOrder is null)
{
    <p>JobDetails is not existing</p>
}
else
{
    <p>Do you want to delete @jobOrder.JobName ?</p>

    <button type="button" @onclick="@DeleteAsync">Yes</button>
    <a role="button" href="/joborders">No</a>
}

@code {
    [Parameter]
    public int Id { get; set; }
    JobOrderViewModel? jobOrder;

    protected override async Task OnInitializedAsync()
    {
        jobOrder = await JobOrderClient.GetJobOrderAsync(Id);
    }

    private async Task DeleteAsync()
    {
        await JobOrderClient.DeleteJobOrderAsync(jobOrder.Id);
        NavigationManager.NavigateTo("/joborders");
    }
}
